# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCPY5nDvU6iLB1BzbV3XtRBzCrBAP8AzAU
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=career-intelligence-frontend.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=career-intelligence-frontend
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=career-intelligence-frontend.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=891269318526
NEXT_PUBLIC_FIREBASE_APP_ID=1:891269318526:web:8ad367cc937aa04e2ad52f

# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:5000/api
